.singlearticle {
  width: 25%;
  height: 44vh;
  background-color: rgba(221, 247, 253, 0.699);
  margin: 0.5vh 2vw;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.info {
  height: 100%;
  width: 100%;
  display: flex;
}
.articleimage {
  width: 95%;
  height: 60%;
  margin: 0 auto;
}
.details {
  width: 30%;
  padding-top: 20px;
  position: relative;
  left: 1vw;
  top: -1vh;
}

.moreinfo {
  display: flex;
  width: 100%;
  font-family: Sacramento;
}

.readmore1 {
  font-family: Sacramento;
  position: relative;
  left: 33%;
  font-size: 21px;
  font-weight: 800;
  top: 45%;
}

.styleHeading {
  font-family: Sacramento;
  margin: 0px;
  word-spacing: 3px;
  font-weight: 800;
}
