* {
  box-sizing: border-box;
  font-family: Amatic SC;
}
.navbarBox {
  width: 100%;
}

.bar {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  height: 45px;
  width: 100%;
  align-items: center;
  letter-spacing: 2%;
  opacity: 0.6;
  position: fixed;
  top: 0;
}

.menuitems {
  position: fixed;
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}

.home {
  display: flex;
  height: 100%;
  font-size: 15px;
  align-items: center;
  color: white;
  font-weight: 1000;
  width: 10%;
  text-decoration: none;
  justify-content: center;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.5s;
  transform: translateX(-1000px);
  animation: slideIn 0.3s forwards;
  animation-delay: 0.6s;
}
.home:hover {
  background-color: black;
  color: rgb(228, 228, 228);
  opacity: 1;
  text-decoration: none;
}

.home::before,
.home::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgb(107, 107, 107);
  width: 25%;
  transform: scaleX(0);
  transition: all 0.5s;
}

.home::before {
  top: 10px;
  transform-origin: left;
}

.home::after {
  bottom: 10px;
  transform-origin: right;
}

.home:hover::before,
.home:hover::after {
  transform: scaleX(1);
}

.blogs {
  display: flex;
  height: 100%;
  font-size: 15px;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 10%;
  text-decoration: none;
  justify-content: center;
  border-radius: 3px;
  transition: all 0.5s;
  transform: translateX(-1000px);
  animation: slideIn 0.3s forwards;
  animation-delay: 0.3s;
}
.blogs:hover {
  background-color: black;
  color: rgb(228, 228, 228);
  opacity: 1;
  text-decoration: none;
}

.blogs::before,
.blogs::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgb(107, 107, 107);
  width: 25%;
  transform: scaleX(0);
  transition: all 0.5s;
}

.blogs::before {
  top: 10px;
  transform-origin: left;
}

.blogs::after {
  bottom: 10px;
  transform-origin: right;
}

.blogs:hover::before,
.blogs:hover::after {
  transform: scaleX(1);
}

.add {
  display: flex;
  height: 100%;
  font-size: 15px;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 10%;
  text-decoration: none;
  justify-content: center;
  border-radius: 3px;
  transition: all 0.5s;
  transform: translateX(-1000px);
  animation: slideIn 0.3s forwards;
  animation-delay: 0s;
}
.add:hover {
  background-color: black;
  color: rgb(228, 228, 228);
  opacity: 1;
  text-decoration: none;
}

.add::before,
.add::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgb(107, 107, 107);
  width: 35%;
  transform: scaleX(0);
  transition: all 0.5s;
}

.add::before {
  top: 10px;
  transform-origin: left;
}

.add::after {
  bottom: 10px;
  transform-origin: right;
}

.add:hover::before,
.add:hover::after {
  transform: scaleX(1);
}

.freespace {
  width: 58%;
}

.login {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 15px;
  color: white;
  font-weight: bold;
  width: 12%;
  text-decoration: none;
  justify-content: center;
  border-radius: 3px;
  transition: all 0.5s;
  transform: translateX(1000px);
  animation: slideIn 0.5s forwards;
  animation-delay: 0.2s;
  cursor: pointer;
}
.login:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(228, 228, 228);
  opacity: 1;
  text-decoration: none;
}

.login::before,
.login::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgb(107, 107, 107);
  width: 25%;
  transform: scaleX(0);
  transition: all 0.5s;
}

.login::before {
  top: 10px;
  transform-origin: left;
}

.login::after {
  bottom: 10px;
  transform-origin: right;
}

.login:hover::before,
.login:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}
