.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  margin-right: 0%;
  align-items: center;
  background-color: ghostwhite;
  font-family: Amatic SC;
}

.upper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  margin-right: 0%;
  align-items: center;
  width: 100%;
  background-color: rgb(124, 124, 124);
}
